@(name: String)(implicit flash: Flash, projects: Projects)

@head = {
  <script src="@routes.Assets.at("javascripts/d3.v2.js")"></script>
  <script src="@routes.Assets.at("javascripts/display.js")"></script>
  <script type="text/javascript" src='@routes.Router.javascriptRoutes()'></script>
}

@main(name, head, projectName=name) {
  <ul class="nav nav-tabs nav-graph-detail-level">
    <li class="disabled">
      <a href="#" id="projectName">@name</a>
    </li>
    <li class="disabled">
      <a href="#">
        <label class="checkbox">
          <input type="checkbox" value="" class="check-optimized" disabled="disabled"/>
          optimized
        </label>
        <script type="text/javascript">
          $('.check-optimized').click(function() {
            if ($('.check-optimized').is(':checked'))
              $('.graph-json-button').attr('href', '@routes.ShowGraph.showCustomJson(name, version = -1)')
            else
              $('.graph-json-button').attr('href', '@routes.ShowGraph.showCustomJson(name, version = 0)')
          });
        </script>
      </a>
    </li>
    <li class="active nav-graph-packages-tab">
      <a
          href="#"
          class="packages-button"
          rel="tooltip"
          data-original-title="Shows packages with 'contains' relationship. Nodes size according to their Page rank and colored with LOC."
          data-placement="bottom">
        <i class="icon-sitemap"></i>
        Package tree
      </a>
    </li>
    <li class="nav-graph-package-imports-tab">
      <a
          href="#"
          class="package-imports-button"
          rel="tooltip"
          data-original-title="Shows packages with 'imports' relationship. Nodes size according to their Page rank and colored with LOC."
          data-placement="bottom">
        <i class="icon-retweet"></i>
        Package imports
      </a>
    </li>
    <li class="nav-graph-package-calls-tab">
      <a
          href="#"
          class="package-calls-button"
          rel="tooltip"
          data-original-title="Shows packages with 'calls' relationship (including runtime). Nodes size according to their Page rank and colored with LOC."
          data-placement="bottom">
        <i class="icon-random"></i>
        Package calls
      </a>
    </li>
    <li class="nav-graph-class-calls-tab">
      <a
          href="#"
          class="class-calls-button"
          rel="tooltip"
          data-original-title="Shows classes with 'calls' relationship (including runtime). Nodes size according to their Page rank and colored with LOC."
          data-placement="bottom">
        <i class="icon-random"></i>
        Class calls
      </a>
    </li>
    <li class="nav-graph-custom-tab">
      <a href="#" class="custom-button"><i class="icon-beaker"></i> Custom</a>
    </li>
    <li class="disabled">
      <a href="@routes.UploadCallCount.form(name)">Upload runtime data <i class="icon-plane"></i></a>
    </li>
    <li class="disabled">
      <a href="@routes.ShowGraph.showCustomJson(name, version = -1)" class="graph-json-button">Download graph JSON <i class="icon-file"></i></a>
    </li>
    <li class="disabled">
      <a href="@routes.DownloadRefactorings.download(name, version = -1)" class="refactorings-json-button">Download refactorings JSON <i class="icon-file"></i></a>
    </li>
  </ul>
  <div id="chart">
  </div>
}
